<header class="header">
    <a href="#" class="logo">DuoHealth</a>
  
    <i class='bx bx-menu' id="menu-icon"></i>
  
    <nav class="navbar">
        <a href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#services">Services</a>
        <a href="#portfolio">News</a>
        <!-- If the user is logged make a logout button, but if the user is not make a login button -->
        {% if session['logged_in'] %}
            <a href="{{url_for('left')}}" class="login">Log out</a>
        {% else %}
            <a href="{{url_for('login')}}" class="login">Log in</a>
        {% endif %}
    </nav>
</header>